.navBar {
  width: 100%;
  height: 120px;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 23px;
  margin-left: 200px;
}
.credentials {
  margin-right: 200px;
}
.btn {
  color: #212121;
  border: none;
  font-size: 18px;
  width: 120px;
  height: 50px;
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
}
